<div style="margin-bottom:100px;">
    <img src={{product_img}}><br><br>
<table>
  <tr>
  </tr>
  <tr>
    <td>Price:</td>
    <td><b>{{product_price}}</b></td>
  </tr>
  <tr>
    <td>Selling Price:</td>
    <td><b>{{product_sell_price}}</b></td>
  </tr>
  <tr>
    <td>Offer:</td>
    <td><b>{{product_discount}}</b></td>
  </tr>
  <tr>
    <td>Category:</td>
    <td><b>{{product_category}}</b></td>
  </tr>
  <tr>
    <td>Quantity:</td>
    <td><b>{{product_quantity}}</b></td>
  </tr>
</table>
<div>
  <button (click)="back()">back</button>
</div>
</div>
