<div>
    <img src="assets/image/user_image1.png">
      <h1 style="margin-left:50px;margin-top:50px;">{{welcome}}</h1>
</div>
  <div style="margin-left:100px;margin-bottom:100px;">
<table>
		<tr>
		</tr>
		<tr>
			<td>Name:</td>
			<td><b>{{user_name}}</b></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><b>{{user_email}}</b></td>
		</tr>
		<tr>
			<td>Contact No:</td>
			<td><b>{{user_phone}}</b></td>
		</tr>
		<tr>
			<td>Date of Birth :</td>
			<td><b>{{user_dob}}</b></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><b>{{user_password}}</b></td>
		</tr>
</table>
<div>
    <button (click)="back()">back</button>
  </div>
 </div>
<!-- <div>
  <h1>Full Details</h1>
  Name: {{user_name}}<br>
  Email: {{user_email}}<br>
  Mobile:{{user_phone}}<br>
  Dob:{{user_dob}}<br>
  Password:{{user_password}}<br>
</div> -->
